/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}
.main-content {
  max-width: 1000px; /* This can be adjusted based on your preferred width */
  width: 100%;
  text-align: center; /* Centering text-based content */
}
/* Navigation styles */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.topnav a {
  /* float: left; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Container styling */
.container {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Golf News Navigation styling */
#golf-news-navbar {
  overflow: hidden;
  background-color: #222;
  margin-bottom: 20px;
}

#golf-news-navbar a {
  /* float: left; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#golf-news-navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Tables and lists styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

#next-tournament-list {
  list-style-type: none;
}

#next-tournament-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#next-tournament-list li:last-child {
  border-bottom: none;
}

/* This will center the items in the navbar */
.custom-navbar-center {
  justify-content: center;
}

/* Remove margin from the last link */
.nav-item:not(:last-child) .nav-link {
  margin-right: 2rem; /* adjust this value as you see fit */
}

.stats-section {
  display: flex;
  justify-content: space-between; /* creates space between the two child divs */
}

.statistics,
.categories {
  flex: 1; /* allows each div to grow and take up half the space */
  margin: 0 20px; /* gives a little space between the divs */
}

.btn-round {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-round:hover {
  background-color: #555;
}

.last-5-rounds {
  margin-bottom: 30px; /* Adjust this value to your preference */
}

.fairway-progress-container {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.fairway-progress-container h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.greens-progress-container {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.greens-progress-container h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.rounded-navbar {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff; /* White background to contrast with light grey */
  padding: 20px;
  border-radius: 20px;
}
.navbar-brand img {
  transition: transform 0.3s; /* Smooth transition */
}
.navbar-brand img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}
.nav-item a {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.nav-item a:hover {
  background-color: #333;
  color: #fff;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  object-fit: cover;
}

.profile-info {
  list-style-type: none;
  padding: 0;
}

.profile-info li {
  margin: 10px 0;
  font-weight: bold;
}

.news-item {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  padding-top: 20px;
}

.news-title {
  font-size: 1.5rem;
  font-weight: bold;
}
