{% extends 'base.html' %} {% block content %}
<h1>Golf Stat Tracker</h1>
<h2>This is your golf portfolio</h2>
<a href="/golf_round/add9">Add New 9 Hole Round</a>
<a href="/golf_round/add18">Add New 18 Hole Round</a>
<a href="/golf_round/history">Rounds</a>
<a href="/golf_news">Golf News</a>
<div>
  <p>Last 10 Round Scores: {{last_10_score}}</p>
  <p>Putts per Round: {{last_10_round_putts}}</p>
  <p>Fairway %: {{fairway_hit_percentage}}</p>
  <p>Green in Regulation %: {{green_in_regulation}}</p>
</div>
<div class="statistics">
  <div class="column">
    <h2>Scoring Analysis</h2>
    <table>
      <tr>
        <th>Category</th>
        <th>Average Score</th>
      </tr>
      <tr>
        <td>Avg Score (18)</td>
        <td>{{ avg_scores[0] }}</td>
      </tr>
      <tr>
        <td>Avg Score (9)</td>
        <td>{{ avg_scores[1] }}</td>
      </tr>
      <tr>
        <td>Par 3 Avg</td>
        <td>{{ avg_scores[2] }}</td>
      </tr>
      <tr>
        <td>Par 4 Avg</td>
        <td>{{ avg_scores[3] }}</td>
      </tr>
      <tr>
        <td>Par 5 Avg</td>
        <td>{{ avg_scores[4] }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="categories">
  <h2>Category Counts</h2>
  <table>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>
    <tr>
      <td>Eagles</td>
      <td>{{ scores.eagles }}</td>
    </tr>
    <tr>
      <td>Birdies</td>
      <td>{{ scores.birdies }}</td>
    </tr>
    <tr>
      <td>Pars</td>
      <td>{{ scores.pars }}</td>
    </tr>
    <tr>
      <td>Bogies</td>
      <td>{{ scores.bogies }}</td>
    </tr>
    <tr>
      <td>Double Bogies</td>
      <td>{{ scores.double_bogies }}</td>
    </tr>
    <tr>
      <td>Triples</td>
      <td>{{ scores.triples }}</td>
    </tr>
    <tr>
      <td>Double Pars</td>
      <td>{{ scores.double_pars }}</td>
    </tr>
  </table>
</div>
<div class="last-5-rounds">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Par</th>
        <th>Score</th>
        <th>+/-</th>
      </tr>
    </thead>
    <tbody>
      {% for golf_round in golf_rounds %}
      <tr>
        <td>
          <a href="/golf_round/{{golf_round.id}}">{{golf_round.date_played}}</a>
        </td>
        <td>
          <a href="/golf_round/{{golf_round.id}}">{{golf_round.course_name}}</a>
        </td>
        <td>{{golf_round.par}}</td>
        <td>{{golf_round.total_score}}</td>
        <td>{{golf_round.difference}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
